<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title></title>
  <script src="/js/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</head>

<body>
  <!-- 注册 -->
  注册：
  <input type="text" id="account1" placeholder="账号">
  <input type="password" id="password1" placeholder="密码">
  <input type="submit" value="注册" id="register">
  </br>
  <!-- 登录 -->
  登录：
  <input type="text" id="account" placeholder="账号">
  <input type="password" id="password" placeholder="密码">
  <input type="submit" value="登录" id="login">
  </br>
  <!-- 退出 -->
  退出：
  <input type="submit" value="退出" id="logout">
  </br>
  <!-- 获取好友列表 -->
  获取好友列表：
  <input type="submit" value="获取" id='getList'>
  </br>
  <!-- 发送消息 -->
  发送消息：
  <input type="text" placeholder="好友id" id='receiver'>
  <input type="text" placeholder="内容" id='content'>
  <input type="submit" value="发送" id='send'>
  </br>
  <!-- 接收消息 -->
  接收消息：
  <input type="submit" value="接收新消息" id='read'>
  </br>
  <!-- 修改个人信息 -->
  修改个人信息：
  <input type="type" placeholder="名称" id='nickname'>
  <input type="type" placeholder="年龄" id='age'>
  <input type="type" placeholder="地址" id='address'>
  <input type="type" placeholder="介绍" id='introduction'>
  <input type="type" placeholder="邮箱" id='mailbox'>
  <input type="submit" value="修改信息" id='update'>
  </br>
  <!-- 查看用户信息 -->
  查看用户信息：
  <input type="type" placeholder="用户id" id='account2'>
  <input type="submit" value="查看信息" id='check'>
  </br>
  <!-- 获取聊天记录 -->
  获取聊天记录：
  <input type="type" placeholder="用户id" id='account3'>
  <input type="submit" value="获取记录" id='getChatRecord'>
  </br>
</body>

</html>